<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{{room.name}}</title>
    </head>
    <body>
        <nav>
            <div>
                <a href="/logout/">Déconnexion</a>
            </div>
        </nav>
        <div>
            <div>
                <div> <!-- Messages affichés -->
                    <p>Nom d'utilisateur</p>
                    <p>Message</p>
                </div>
            </div>
        </div>
        <div> 
            <form> <!-- Zone où l'on rentre son message -->
                <input type="text" name="typed" id="input" placeholder="Envoyer un message"/>
                <button id="input-submit">Envoyer</button>
            </form>
        </div>       
    </body>
</html>